<div class="subpage">
<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo">IT-WATCH</a>
                <nav id="nav">
                    <a href="/index">Home</a>
                    <a href="/categories">Categories</a> 
                    <a href="/elements">Read Later</a>
                    <a href="/register">Sign In/Register</a>
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>

    <!--CATEGORIES-->

    <div class="categories-container">
        <div class="box alt">
            <div class="row 50% uniform">
                <div class="4u">
                    <h3>A.I.</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/ai.png" alt="" /></span></a>
                </div>
                <div class="4u">
                    <h3>Gaming</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/gaming.png" alt="" /></span></a>
                </div>
                <div class="4u$">
                    <h3>Programming</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/development.png" alt="" /></span></a>
                </div>
                <!-- Break -->
                <div class="4u">
                    <h3>Software</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/software.png" alt="" /></span></a>
                </div>
                <div class="4u">
                    <h3>Hardware</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/hardware.png" alt="" /></span></a>
                </div>
                <div class="4u$">
                    <h3>Space</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/space.png" alt="" /></span></a>
                </div>
                <!-- Break -->
                <div class="4u">
                    <h3>Environment</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/environment.png" alt="" /></span></a>
                </div>
                <div class="4u">
                    <h3>Funny</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/funny.png" alt="" /></span></a>
                </div>
                <div class="4u$">
                    <h3>Misc</h3>
                    <a href="#"><span class="image fit category-link"><img src="./images/misc.png" alt="" /></span></a>
                </div>
            </div>
        </div>						
    </div>
    <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy; Matt Nannetti, for BeCode Brussels. Images: <a href="https://unsplash.com">Unsplash</a>.
                    </div>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                        <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>