<div class="subpage background-img">
<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/index" class="logo">IT-WATCH</a>
                <nav id="nav">
                    <a href="/index">Home</a>
                    <a href="/categories">Categories</a>
                    <a href=/elements">Read Later</a>
                    <a href="/register">Sign In/Register</a>
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>

    <!-- Banner 
        <section id="banner">
            <h1>Welcome to IT-Watch</h1>
            <p>Your daily dose of IT related news.</p>
        </section>
    -->

    <!-- Register From -->
    <div class="register-form">
        <h3>Sign in</h3>

        <form method="post" action="#">
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="username" id="username" value="" placeholder="Username" />
                </div>
                
                <!-- Break -->
                <div class="6u 12u$(xsmall)">
                    <input type="password" name="pass1" id="pass1" value="" placeholder="Password" />
                </div>
                
                
                <!-- Break -->
                <div class="12u$">
                    <input class="actions" type="submit" value="Sign in" /></li>
                </div>
                <a href="">Forgotten password? Reset</a> 
                <a href="/register">No account yet? Register here!</a>
            </div>
        </form>

        


    </div>
    
    
    <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy; Matt Nannetti, for BeCode Brussels. Images: <a href="https://unsplash.com">Unsplash</a>.
                    </div>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                        <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    </ul>
                </div>
            </div>
        </footer>
</div>