{% extends "layout.html" %}
{% block content %}

<div class="subpage">
<!-- Header -->
        <header id="header" style="background-color: black;">
            <div class="inner">
                <a href="/index" class="logo">IT-WATCH</a>
                <nav id="nav">
                    <a href="{{ url_for('home') }}">Home</a>
                    <a href="{{ url_for('categories') }}">Categories</a> 
                    <a href="{{ url_for('readlater') }}">Read Later</a>
                    <a href="{{ url_for('register') }}">Sign In/Register</a>
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>

    <!-- Article -->
        <section id="three" class="wrapper">
            <div class="inner">

                <header class="align-center">
                    <h2> <%- article.title.rendered %> </h2>
                    <p>Added: <%- article.date %> </p>
                </header>
                <div style="margin: auto;"><img style="max-width: 70%; text-align:center;" src="<%- article.thumbnail_url %>" alt="" /></div>

                <p> <%- article.content.rendered %> </p>
                
                
                
                <!--RELATED ARTICLES-->

                <h2 style="text-align: center;">More on this subject</h2>

                <div class="flex flex-2">
                    <article>
                        <div class="image fit">
                            <img src="/images/environment.png" alt="Pic 01" />
                        </div>
                        <header>
                            <h3>Praesent placerat magna</h3>
                        </header>
                        <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
                        <footer>
                            <a href="/article" class="button special">Read More</a>
                            <a href="#" class="button special">+</a>
                        </footer>
                    </article>
                    <article>
                        <div class="image fit">
                            <img src="/images/development.png" alt="Pic 02" />
                        </div>
                        <header>
                            <h3>Fusce pellentesque tempus</h3>
                        </header>
                        <p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
                        <footer>
                            <a href="/article" class="button special"> Read More</a>
                            <a href="#" class="button special">+</a>
                        </footer>
                    </article>
                </div>
            </div>
        </section>

    <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy; Untitled.</a>.
                    </div>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                        <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                        
                    </ul>
                </div>
            </div>
        </footer>
</div>

{% endblock content %}