{% extends "layoutsub.html" %}
{% block content %}

    <!-- Register From -->
    <div class="register-form">
        <h3>Log in</h3>

        <form method="POST" action="#">
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="username" id="username" value="" placeholder="Username" />
                </div>
                
                <!-- Break -->
                <div class="6u 12u$(xsmall)">
                    <input type="password" name="pass1" id="pass1" value="" placeholder="Password" />
                </div>
                
                
                <!-- Break -->
                <div class="12u$">
                    <input class="actions" type="submit" value="Sign in" /></li>
                </div>
                <a href="">Forgotten password?</a>
                <p>
                    No account yet?
                <a href=" {{ url_for('register')}} ">Register here!</a>
                </p>
            </div>
        </form>

        


    </div>
    
    
    <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy; Matt Nannetti, for BeCode Brussels. Images: <a href="https://unsplash.com">Unsplash</a>.
                    </div>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                        <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                    </ul>
                </div>
            </div>
        </footer>
</div>

{% endblock content %}