{% extends "layoutsub.html" %}
{% block content %}
        <!-- Register From -->
        <div class="register-form">
            <h3>Register</h3>

            <form method="POST" action="/register">
                <div class="row uniform">
                    <div class="6u 12u$(xsmall)">
                        <input type="text" name="username" id="username" value="" placeholder="Username" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="email" name="email" id="email" value="" placeholder="Email" />
                    </div>

                    <!-- Break -->
                    <div class="6u 12u$(xsmall)">
                        <input type="password" name="pass1" id="pass1" value="" placeholder="Choose a password" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <input type="password" name="pass2" id="pass2" value="" placeholder="Confirm password" />
                    </div>
                    
                    <!-- Break -->
                    <div class="6u 12u$(small)">
                        <input type="checkbox" id="newsletter-box" name="newsletter-box">
                        <label for="newsletter-box">Subscribe to It-Watch Newsletter</label>
                    </div>
                    
                    
                    <!-- Break -->
                    <div class="12u$">
                        <input class="actions" type="submit" value="Register" /></li>
                    </div>
                    <p>Already have an account?
                    <a href="{{ url_for('login') }}">Log in!</a>
                    </p>
                </div>
            </form>
    
            <hr />
    

        </div>
        
		
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Matt Nannetti, for BeCode Brussels. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
						</ul>
					</div>
				</div>
			</footer>
</div>


{% endblock content %}